body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

#gridContainer {
    display: grid;
    border: 1px solid black;
}


.withBorders .cell {
    border: 1px solid rgba(0, 0, 0, 0.7);
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100px;
}

:root {
    --selected-color: black; /* Default color */

}

.cell:hover,
.cell:focus {
    background-color: var(--selected-color);
    outline: none;
}


.cell {
    border: 1px solid rgba(0, 0, 0, 0.7);  /* color of border */
    width: 100%;
    height: 100%;
}

#gridContainer.withBorders .cell {
    border: 1px solid transparent; /* Hide border when 'withBorders' class is present */
}